<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Get your news</title>
</head>
<body>
<form action="#" th:action="@{/save_form}" th:object="${formRequest}" method="GET">
    <p>
        Section: <select name="section" th:field="*{section}">
                    <option th:each="obj : ${sections}" th:value="${obj}" th:text="${obj}"></option>
                </select>
    </p>

    <p>
        Article title query: <input type="text" name="query" th:field="*{query}"/>
    </p>

    <p>
        Page size: <input type="number" name="pageSize" th:field="*{pageSize}"/>
    </p>

    <p>
        Section: <select name="sortBy" th:field="*{sortBy}">
        <option th:each="sort : ${sortByList}" th:value="${sort}" th:text="${sort}"></option>
    </select>
    </p>

    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>
</body>
</html>